<!DOCTYPE html>
<html>
<head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class = "container">
		<div class = "row">
			<div class = "center-block bg-primary" style= "height:200px; width:200px; margin-top:300px; margin-left:auto; margin-right:auto">
				<form action = "/login" method= "POST">
					<div class= "form-group text-center" style = "padding-top:75px">
						<label for="InputLogin">Username</label>
						<input name="username" type="form-control" id="InputLogin" placeholder="Enter Username"/>
						<button class="btn btn-default btn-lg" style="margin-top:10px">Login</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
