<!DOCTYPE html>
<html>
<head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class='container'>
		<div class= "row">
			<div class ="col col-md-9">
				<h2 class = "text-center text-capitalize"><%= params['list'] %></h2>
				<table class = "table table_bordered">
					<thead>
						<tr>
							<th>Task</th>
							<th>Due Date</th>
							<th>Completed?</th>
						</tr>
					</thead>
					<tbody>
						<% @tasks.each do |task|%>
						<tr>
							<td><%= task.description %></td>
							<td><%= task.due_date %></td>
							<% if task.done == false %>
							<td class = "danger">
								<form action = "/complete?id=<%=task.id%>" method = "POST">
									<button class ="btn btn-primary btn-block">Mark Complete</button>
								</form>
							</td>
							<% else %>
							<td class = "success text-center">Complete!</td>
							<%end%>
						</tr>
						<% end%>
					</tbody>
				</table>
			</div>
			<div class ="col col-md-3">
				<div class ="row" style= "height:100px">
				</div>
				<div class = "row well">
					<h4 class= "text-center">Add a New Task</h4>
					<form action = "/add" method = "POST">
						<div class= "form-group">
							<label for="InputList">List</label>
							<div></div>
							<input name= "list" type= "form-control" id="InputList" placeholder="Enter List Name"/>
						</div>
						<div class ="form-group">
							<label for="InputTask">Task Description</label>	
							<input name= "task_description" type = "form-control" id="InputTask" 
							 placeholder="Enter Task Description"/>
						</div>
						<button class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>	
</body>
</html>